<span class="flex flex-col group relative items-center text-base" #card>
    <span
        class="flex flex-col opacity-0 group-hover:opacity-100 transition-all duration-200 group-hover:-translate-y-full absolute items-center justify-center h-fit w-max"
    >
        <div
            *ngIf="tooltip"
            class="tooltip text-white border border-[#333333] w-fit h-fit rounded-lg px-3 items-center justify-center text-center"
        >
            {{ tooltip }}
        </div>
        <div
            class="bg-[#212121] rotate-180 w-4 h-2"
            style="
                -webkit-clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
                clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
            "
        ></div>
    </span>

    <div class="card">
        <div>
            <p
                *ngIf="text"
                class="text-[hsl(0,0%,48%)] group-hover:text-[hsl(0,0%,86%)] text-6xl w-fit h-fit font-bold transition-all duration-200"
            >
                {{ text }}
            </p>
            <img
                class="opacity-30 group-hover:opacity-100 transition-all duration-200"
                *ngIf="image"
                src="{{ image }}"
                alt="{{ imageAlt }}"
            />
        </div>
    </div>
</span>
