:host {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
}

#menu {
  @apply fixed;
  @apply flex flex-col;
  @apply w-screen h-screen;
  @apply items-center justify-center;
  @apply top-0 left-0;
  @apply bg-[#101010] bg-opacity-95;
  @apply z-40;
}

.link {
  --menu_accent: #ebb6fc;
  color: rgba(255, 255, 255, 0.5);
  opacity: 1;
  text-decoration: none;
  transition: all 0.2s ease-in-out;
  font-size: 2rem;
  font-weight: 500;

  & > strong {
    color: var(--menu_accent);
  }
}

.link:hover,
.link__active {
  opacity: 1;
  color: var(--menu_accent);
}

#menu {
  clip-path: inset(0 0 0 100vw);
}