<div class="prose prose-invert flex flex-col items-center mx-3 max-w-[28ch]">
    <h2 class="m-0 mb-2 text-center">
        The page you are looking for was not found.
    </h2>
    <span class="relative flex flex-col items-center justify-center">
        <svg
            width="1062"
            height="495"
            viewBox="0 0 1062 495"
            fill="none"
            xmlns="http://www.w3.org/2000/svg"
            class="-z-10 absolute w-[32rem] h-fit not-prose"
        >
            <path
                opacity="0.5"
                d="M220.764 493.285C187.522 485.952 103.439 410.287 53.9426 369.238C-57.2714 277.004 31.3332 33.1515 72.8857 5.65347C114.438 -21.8445 334.422 81.4257 404.084 49.6502C473.745 17.8748 610.013 5.65348 716.339 33.1515C822.664 60.6494 904.547 -18.7892 974.209 17.8748C1043.87 54.5388 1079.31 260.468 1053.65 325.241C1027.98 390.014 942.433 506.117 856.884 493.285C788.445 483.019 721.227 456.009 696.174 443.788C570.905 375.349 507.965 418.734 437.081 443.788C371.967 466.803 262.316 502.451 220.764 493.285Z"
                fill="url(#paint0_linear_23_148)"
            />
            <defs>
                <linearGradient
                    id="paint0_linear_23_148"
                    x1="0.168804"
                    y1="247.636"
                    x2="1062.2"
                    y2="247.636"
                    gradientUnits="userSpaceOnUse"
                >
                    <stop stop-color="#D55CFF" />
                    <stop offset="1" stop-color="#5CFFBB" stop-opacity="0.5" />
                </linearGradient>
            </defs>
        </svg>

        <GlassmorphCard
            gm-text="404"
            gm-tooltip="404 Not Found"
            class="not-prose"
        ></GlassmorphCard>
    </span>
    <p
        class="m-0 mt-2 text-sm max-w-[24ch] flex text-center opacity-50 hover:opacity-90 transition-all duration-200"
    >
        You see, 404 can be an art in some way...
    </p>
</div>
