<section
    class="flex flex-col prose prose-li:marker:text-white prose-headings:mb-2 prose-p:my-2.5 prose-invert mx-7 my-14 items-center justify-center text-justify"
>
    <article class="flex flex-col">
        <h1>Who am I?</h1>
        <div>
            <p>
                Hi there again! 👋 I'm scriptSQD, a beginner web-developer based
                in Belarus. Web-development has been a journey for me for more
                than half a year. I'm a self-taught programmer, but do my best
                to keep up with the high standards of software development
                world. I'm idea-driven and execute my projects with extreme
                passion.
                <strong class="font-normal">Knowledge is power,</strong> so I
                always learn and try something new.
            </p>
            <p>
                Currently I'm taking my studies at high school and try to work
                out my personal portfolio of real-world projects. So far, those
                have been (links coming soon):
            </p>
            <ul>
                <li>Personal portfolio (this website)</li>
                <li>
                    <a
                        href="https://tunestory.vercel.app"
                        target="_blank"
                        rel="noopener noreferrer"
                        >TuneStory</a
                    >
                </li>
                <li>
                    <a
                        href="https://tyzenguide.web.app"
                        target="_blank"
                        rel="noopener noreferrer"
                        >Tyzenguide</a
                    >
                </li>
            </ul>
        </div>

        <h1 class="mt-8">My experience</h1>
        <div>
            <p>
                Apart from projects listed on Homepage, I've had some experience
                with building backend API wit NestJS/Strapi. I've contributed to
                DefinitelyTyped. I've worked on some libraries as well, although
                those are mostly incomplete and provide a little functionality.
                This project features modular carousel and I'll probably make a
                library out of it because it's universal and works quite well
                (while still has some room for improvement).
            </p>
        </div>

        <h1 class="mt-8">What am I looking for?</h1>
        <div>
            <p>
                Obviously, as a newcomer I'm looking for opportunities to
                improve my skills and take part in real-world projects to get
                some valuable experience. My current works are just my personal
                ideas that many of us go through. I've tried contributing to
                open source projects, and even had some success in that. My
                contributions and open-source works can be found on
                <a
                    href="https://github.com/scriptSQD"
                    target="_blank"
                    rel="noopener noreferrer"
                    >my GitHub</a
                >.
            </p>
        </div>
    </article>
</section>
