<section class="flex flex-col items-center flex-1 justify-center">
    <span class="prose prose-invert">
        <h1 class="text-center m-1">Work in progress...</h1>
        <p class="text-center m-1">some pretty detailed info coming soon</p>
    </span>
    <!-- <ProjectCard
        *ngFor="let x of [1, 2, 3]"
        pc-title="Tyzenguide"
        pc-general="School project dedicated to Antoni Tyzenhaus. Grodno's very famous figure."
        pc-image="tyzenguide.webp"
        [pc-stack-front]="['Angular', 'HyperUI (UI Kit)']"
    ></ProjectCard> -->
</section>
