:host {
    display: block;
}

.card {
    @apply relative grid grid-cols-1 md:grid-flow-col md:grid-cols-[auto_auto] max-w-[92%] w-fit h-fit
    border border-[#424242] rounded-[22px] p-6
    overflow-hidden items-start justify-center;
    // box-shadow: 2.5px 7px 32px rgba(36, 36, 36, 0.45);
    background-color: hsla(0, 0%, 15%, 0.65);
}

@supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
    .card {
        @apply border-[#505050];
        backdrop-filter: blur(10px) opacity(1);
        background: linear-gradient(
            180deg,
            hsl(0, 0%, 30%, 20%) 0.07%,
            hsl(0, 0%, 20%, 20%) 99.89%
        );
    }
}
