@font-face {
    font-family: "Trebuchet MS";
    src: local("Trebuchet MS"), local("Trebuchet-MS"),
        url("/assets/fonts/trebuc.woff") format("woff");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Trebuchet MS";
    src: url("/assets/fonts/trebucbd.woff") format("woff");
    font-weight: 600;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --navbar: 56px;
}

html {
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

body {
    background-color: #0c0d12;
    // background-color: hsl(233, 23%, 6%);
}

.no_scrollbar {
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}
