@font-face {
    font-family: "Trebuchet MS";
    src: local("Trebuchet MS"), local("Trebuchet-MS"),
        url("/assets/fonts/trebuc.woff") format("woff");
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Trebuchet MS";
    src: url("/assets/fonts/trebucbd.woff") format("woff");
    font-weight: 600;
    font-display: swap;
}

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scrollbar-width: none;

    &::-webkit-scrollbar {
        display: none;
    }
}

body {
    background-color: #121212;
}

.no_scrollbar {
    scrollbar-width: none;
    &::-webkit-scrollbar {
        display: none;
    }
}

.scrollable {
    display: flex;
    flex: 1;
    height: 100%;
    flex-direction: column;
    position: relative;
    align-items: center;

    &__container {
        display: grid;
        flex: 1;
        align-items: center;
        grid-auto-flow: column;
        grid-auto-columns: 100%;
        max-width: 100vw;
        height: 100%;
        overflow-x: hidden;
        overflow-y: hidden;
        scroll-snap-type: x mandatory;
        scrollbar-width: none;

        &::-webkit-scrollbar {
            display: none;
        }

        & > * {
            scroll-snap-align: center;
        }
    }

    &__pag {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: absolute;
        bottom: 0.25rem;

        &__dot {
            display: flex;
            width: 0.75rem;
            aspect-ratio: 1;
            background-color: hsl(0, 0%, 35%);
            margin: 0.625rem 0.425rem;
            border-radius: 100%;
            transition: all 200ms ease-in-out;
        }

        &__dot.active,
        &__dot:hover {
            background-color: hsl(285, 100%, 80%);
        }
    }

    &__nav {
        @apply -translate-y-1/2;
        display: flex;
        position: absolute;
        align-items: center;
        justify-content: center;
        top: 50%;
        padding: 0.725rem 0.5rem;
        background-color: #242424;
        border-radius: 10px;
        border-color: #363636;
        border-width: 2px;
        transition: all 200ms ease-in-out;

        &:hover {
            background-color: #202020;
        }
    }
}
