<section class=" max-h-screen h-screen overflow-hidden font-bold !text-[3.5rem] !sm:text-[4.25rem] snap-center">
    <span class="w-fit h-fit mx-3 relative flex flex-col flex-wrap items-start gradient_word_underline_title">
        <h1 class="z-10 flex flex-row justify-center items-center flex-wrap break-all">
            Hello
            <strong class="text-[#D55CFF] font-bold">,</strong>
        </h1>
        <h1 class="z-10 flex flex-col flex-wrap break-all">
            I’m &mdash;
            <br />
            scriptSQD
        </h1>
    </span>
    <p class="opacity-[65%] text-base font-normal my-2 font-sans">
        And a web developer, of course!
    </p>
</section>

<section class="min-h-screen h-fit font-bold">
    <h1 class="z-10 flex flex-row justify-center items-center flex-wrap break-all gap-x-2.5">
        My
        <p class="gradient_word_underline">
            &lt;skills/&gt;:
        </p>
    </h1>

    <div class="relative flex flex-row flex-wrap max-w-[760px] items-center justify-center gap-x-16 gap-y-4 mx-3">
        <div class="skills_category_container">
            <p class="text-[1.5rem] font-normal">Front-end:</p>
            <div class="skills_container">
                <GlassmorphCard
                    *ngFor="let skill of skills.front"
                    [image]="skill.icon"
                    [tooltip]="skill.tooltip"
                ></GlassmorphCard>
            </div>
        </div>
        <div class="skills_category_container">
            <p class="text-[1.5rem] font-normal">Back-end:</p>
            <div class="skills_container">
                <GlassmorphCard
                    *ngFor="let skill of skills.back"
                    [image]="skill.icon"
                    [tooltip]="skill.tooltip"
                ></GlassmorphCard>
            </div>
        </div>
        <div class="skills_category_container">
            <p class="text-[1.5rem] font-normal">General:</p>
            <div class="skills_container">
                <GlassmorphCard
                    *ngFor="let skill of skills.general"
                    [image]="skill.icon"
                    [tooltip]="skill.tooltip"
                ></GlassmorphCard>
            </div>
        </div>

        <div class="gradient_background">
            <img alt="Skills blob background" class="hidden wide:block" src="assets/svgs/skills.blob.full.svg" />
            <img alt="Skills blob background" class="block wide:hidden" src="assets/svgs/skills.blob.mobile.svg" />
        </div>
    </div>

    <div class="flex flex-col gap-y-1.5 m-8 items-center justify-center">
        <p class="text-2xl font-normal">More on that:</p>
        <a class="group about_link" routerLink="/about">
            <span class="absolute right-0 transition-transform translate-x-full group-hover:-translate-x-4">
                <svg
                    class="w-5 h-5"
                    xmlns="http://www.w3.org/2000/svg"
                    fill="none"
                    viewBox="0 0 24 24"
                    stroke="currentColor"
                >
                    <path
                        stroke-linecap="round"
                        stroke-linejoin="round"
                        stroke-width="2"
                        d="M17 8l4 4m0 0l-4 4m4-4H3"
                    />
                </svg>
            </span>
            <span class="text-base font-semibold transition-all group-hover:mr-4">
                About me
            </span>
        </a>
    </div>
</section>

<section class="gap-3 max-w-full w-full min-h-screen h-fit">
    <h1 class="z-10 flex flex-row justify-center items-center flex-wrap break-all gap-x-2.5 font-semibold">
        My
        <p class="gradient_word_underline">
            &lt;projects/&gt;:
        </p>
    </h1>
    <div class="relative flex">
        <swiper
            #swiper
            class="max-w-[100vw] flex flex-col-reverse"
            [config]="swiperOptions"
        >
            <ng-template *ngFor="let project of projects" swiperSlide>
                <GlassmorphProjectCard [project]="project"></GlassmorphProjectCard>
            </ng-template>
        </swiper>

        <div class="gradient_background inset-0">
            <img alt="Projects blob background" class="hidden wide:block" src="assets/svgs/projects.blob.full.svg" />
            <img alt="Projects blob background" class="block wide:hidden" src="assets/svgs/projects.blob.mobile.svg" />
        </div>
    </div>
</section>
