:host {
  @apply grid grid-flow-row auto-rows-auto overflow-y-scroll overflow-x-hidden w-full h-full snap-y snap-proximity;
  align-items: center;
  justify-content: stretch;
  width: 100%;
  scrollbar-width: none;
}

:host::-webkit-scrollbar {
  display: none;
}

section {
  @apply flex flex-col;
  @apply items-center justify-center;
  @apply text-white text-[2.25rem] sm:text-[2.75rem];
}

.skills_category_container {
  @apply flex flex-col;
  @apply items-center;
  @apply gap-y-2;

}

.skills_container {
  @apply flex flex-row flex-wrap;
  @apply gap-x-5 gap-y-3;
  @apply justify-center;
}

.about_link {
  @apply relative;
  @apply inline-flex items-center;
  @apply px-8 py-3;
  @apply overflow-hidden;
  @apply text-[#ccc];
  @apply bg-[hsla(0,0%,15%,0.65)];
  @apply rounded-lg;
  @apply focus:outline-none;
  @apply border border-[#424242];
  @apply bg-opacity-[85%];
  box-shadow: 0.5px 1px 20px rgb(36 36 36 / 44%)
}

.gradient_background {
  @apply absolute;
  @apply -z-50;
  @apply sm:max-w-full;
  @apply flex items-center justify-center;
}

.gradient_word_underline {
  @apply after:w-full;
  @apply after:h-4;
  @apply z-10 relative;
  @apply after:absolute after:block after:-z-10;
  @apply after:bottom-2.5 after:-right-2;
  @apply after:bg-gradient-to-r;
  @apply after:from-[#D55CFF];
  @apply after:to-[hsla(155,100%,68%,50%)];
}
