<section
    class="flex flex-col items-center justify-center max-h-screen h-screen overflow-hidden font-trebuchet font-bold text-white text-[3.5rem] sm:text-[4.25rem] snap-center bg-[url('/assets/page-bgs/1.svg')] bg-cover bg-center"
>
    <span
        class="w-fit h-fit mx-3 relative flex flex-col items-start leading-none after:block after:bottom-0 after:z-0 after:-right-2 after:absolute after:w-full after:h-6 after:bg-gradient-to-r after:from-[#D55CFF] after:to-[hsla(155,100%,68%,50%)] flex-wrap"
    >
        <h1
            class="z-10 flex flex-row justify-center items-center flex-wrap break-all"
        >
            Hello
            <p class="text-[#D55CFF]">.</p>
        </h1>
        <h1 class="z-10 flex flex-col flex-wrap break-all">
            I’m &mdash;
            <br />
            scriptSQD
        </h1>
    </span>
    <p class="opacity-[65%] text-base font-normal my-2 font-sans">
        And a web developer, of course!
    </p>
</section>

<section
    class="flex flex-col items-center justify-center min-h-screen h-fit font-trebuchet font-bold text-white text-[2.25rem] sm:text-[2.75rem] snap-none md:snap-center bg-[url('/assets/page-bgs/2.svg')] bg-cover bg-bottom"
>
    <h1
        class="flex flex-row justify-center items-center flex-wrap break-all gap-x-2.5"
    >
        My
        <p
            class="relative after:block after:bottom-3 after:-z-10 after:-right-2 after:absolute after:w-full after:h-4 after:bg-gradient-to-r after:from-[#D55CFF] after:to-[hsla(155,100%,68%,50%)]"
        >
            skills:
        </p>
    </h1>
    <div
        class="relative flex flex-row flex-wrap max-w-[968px] items-center justify-center gap-x-16 gap-y-4 mx-3"
    >
        <div class="flex flex-col items-center gap-y-2">
            <p class="text-[1.5rem] font-normal">Front-end:</p>
            <div class="flex flex-row gap-x-5 gap-y-3 flex-wrap justify-center">
                <GlassmorphCard
                    *ngFor="let skill of skills.front"
                    [gm-image]="skill.icon"
                    [gm-tooltip]="skill.tooltip"
                ></GlassmorphCard>
            </div>
        </div>
        <div class="flex flex-col items-center gap-y-2">
            <p class="text-[1.5rem] font-normal">Back-end:</p>
            <div class="flex flex-row gap-x-5 gap-y-3 flex-wrap justify-center">
                <GlassmorphCard
                    *ngFor="let skill of skills.back"
                    [gm-image]="skill.icon"
                    [gm-tooltip]="skill.tooltip"
                ></GlassmorphCard>
            </div>
        </div>
        <div class="flex flex-col items-center gap-y-2">
            <p class="text-[1.5rem] font-normal">General:</p>
            <div class="flex flex-row gap-x-5 gap-y-3 flex-wrap justify-center">
                <GlassmorphCard
                    *ngFor="let skill of skills.general"
                    [gm-image]="skill.icon"
                    [gm-tooltip]="skill.tooltip"
                ></GlassmorphCard>
            </div>
        </div>
    </div>
</section>

<section
    class="max-w-full w-full flex flex-col items-center justify-center min-h-screen h-fit text-white text-[2.25rem] sm:text-[2.75rem] snap-none md:snap-center bg-[url('/assets/page-bgs/3.svg')] bg-cover bg-top"
>
    <div class="flex flex-col gap-y-10">
        <scrolleer>
            <ng-container *ngFor="let proj of projects">
                <GlassmorphProjectCard
                    *scrolleerSlide
                    [gmp-title]="proj.title"
                    [gmp-general]="proj.description"
                    [gmp-image]="proj.image"
                    [gmp-front-tech]="proj.stack.front"
                    [gmp-back-tech]="proj.stack.back"
                    [gmp-link]="proj.link"
                >
                </GlassmorphProjectCard>
            </ng-container>
        </scrolleer>
    </div>
</section>
